@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');
@media screen and (min-width: 600px) {

    header h1 {
        font-size: 1.4rem;
    }



    #menu {
        display: none;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    main {
        max-width: 1240px;
    }

    main .temples {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* main .temples img {
        max-width: 100%;
    } */



    form label.top input,
    form label.top select {
        max-width: 20rem;
        background-color: rgba(0, 0, 0, .1);
    }
}

@media screen and (min-width: 900px) {
    main .temples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}